

<div id="login">
	<form action="/logins" method="POST">
	<label for = "username">Username</label>
	<input type="text" name="username"  value="">
	<label for = "password">Password</label>
	<input type="text" name="password" value="">
	<button>Submit</button>
	</form>



	</div>

